﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/_juggler.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom right;
    min-height: 1500px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
input,
select,
textarea {
    max-width: 280px;
}
.filter-double
{
    max-width: 250px;
}
ol.index>li{
    margin-bottom: 2em;
    font-size: 18px;
}
ol.index ul>li {
    font-size: 15px;
    padding-top: 0.5em;
    padding-bottom: 0.8em;
}
ol.index ol {
    padding-bottom: 0.4em;
}
ol.index ol>li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
h2 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
