@model HR.Models.Factor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Factor</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ContractType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractType" asp-items="Html.GetEnumSelectList<HR.Interface.Enums.ContractType>()" class="form-control"></select>
                <span asp-validation-for="ContractType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FactorA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FactorA" class="form-control" />
                <span asp-validation-for="FactorA" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FactorB" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FactorB" class="form-control" />
                <span asp-validation-for="FactorB" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
