@model IEnumerable<HR.Models.Factor>

@{
    ViewData["Title"] = "Factors";
}

<h2>Factors</h2>

@{await Html.RenderPartialAsync("_FactorInfoPartial");}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactorA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactorB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactorA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactorB)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
