﻿@{
    ViewData["Title"] = "Start";
}

<h2>Cześć, tu Krystian! Odniosę się do treści zadania:</h2>

<div class="well">
    <ol class="index">
        <li>
            Rozbudowałem zadanie o opcje: (a) edycji i usuwania kontraktu, (b) edycji sposobu naliczania wynagrodzenia.
            <ul>
                <li>
                    Uogólniłem wzór na wynagrodzenie:<br /><br />
                    @{await Html.RenderPartialAsync("_FactorInfoPartial");}
                    <table>
                        <tr>
                            <td>
                                <kbd>Programista:</kbd>&nbsp;
                            </td>
                            <td>
                                =&nbsp;
                                <kbd>minimalna stawka</kbd> +
                                <kbd>lata doświadczenia * 125</kbd> +
                                <kbd>minimalna stawka * 0</kbd>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Tester:</kbd>&nbsp;
                            </td>
                            <td>
                                =&nbsp;
                                <kbd>minimalna stawka</kbd> +
                                <kbd>lata doświadczenia * 100</kbd> +
                                <kbd>minimalna stawka * 0,125</kbd>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    To uogólnienie zaowocowało w dwojaki sposób:
                    <ol>
                        <li><a asp-controller="Configurations">Konfiguracja polityki płac (dane z tabelki)</a></li>
                        <li><a asp-controller="Factors">Konfiguracja wskaźników dla stanowisk (FactorA i FactorB)</a></li>
                    </ol>
                    <b>Wzór w pełni odzwierciedla biznesowy model przedstawiony w zadaniu.</b>
                </li>
            </ul>
        </li>
        <li>
            Dependency Injection:
            <ul>
                <li>
                    <code>ContractCalculator</code> jest bardzo prostą klasą, nie ma tu dużego pola do popisu.
                </li>
                <li>
                    Użyłem natywnego mechanizmu DI dla ASP .NET Core<br />
                    <code>
                        [src\HR\Startup.cs]<br />
                        services.AddTransient&lt;ContractCalculatorService&gt;();
                    </code><br />
                </li>
            </ul>
        </li>
        <li>
            Kwestia Angulara i ładowania asynchronicznego:
            <ul>
                <li>
                    Przykład <b>asynchronicznego zapytania zwracającego JSON'a</b> zademonstrowałem
                    przy wyliczaniu wynagrodzenia podczas <a asp-controller="Contracts" asp-action="Create">tworzenia</a> i edycji kontraktu.
                </li>
                <li>
                    <a asp-controller="Contracts" asp-action="Evaluate" asp-route-contractType="1" asp-route-experience="5">Przykład:</a>
                    <code>GET: Contracts/Evaluate?contractType=1&experience=5</code>
                </li>
                <li>
                    Opierając się na wskazówce: <em>"Skup się na stronie serwerowej"</em> uznałem, że powyższy przykład
                    wyczerpuje pewną ideę i zdecydowałem się pominąć implementację z&nbsp;wykorzystaniem Angular.js i asynchronicznych przeładowań
                    czy walidacji, ponieważ działają one analogicznie do przykładu.
                </li>
            </ul>
        </li>
        <li>
            Testy Jednostkowe
            <ul>
                <li>
                    Projekt <code>HR.Tests</code> zawiera testy jednostkowe dla klasy <code>ContractCalculator</code>
                </li>
            </ul>
        </li>
        <li>
            Projekt wykonałem w ASP .NET Core 1.0
        </li>
    </ol>
</div>