@model HR.Models.Configuration

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Configuration</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ContractType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractType" asp-items="Html.GetEnumSelectList<HR.Interface.Enums.ContractType>()" class="form-control"></select>
                <span asp-validation-for="ContractType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExperienceFrom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExperienceFrom" class="form-control" />
                <span asp-validation-for="ExperienceFrom" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExperienceTo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExperienceTo" class="form-control" />
                <span asp-validation-for="ExperienceTo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MinimalSalary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MinimalSalary" class="form-control" />
                <span asp-validation-for="MinimalSalary" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
