@model HR.Models.Configuration

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Configuration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExperienceFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExperienceFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExperienceTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExperienceTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinimalSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinimalSalary)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
    </form>
</div>
