@model IEnumerable<HR.Models.Configuration>

@{
    ViewData["Title"] = "Policy configuration";
}

<h2>Policy configuration</h2>

@{await Html.RenderPartialAsync("_FactorInfoPartial");}

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimalSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExperienceFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExperienceTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimalSalary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
