@model HR.Models.Contract

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger"/>
            <a asp-action="Filter" class="btn btn-default">Back to List</a>
        </div>
    </form>
</div>
