@model HR.Models.ContractViewModels.FilterViewModel

@{
    ViewData["Title"] = "Contracts browser";
}

<h2>@ViewData["Title"]</h2>
<form asp-action="Filter" id="filter-form">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h4>Predefined filters</h4>
        </div>
        <div class="panel-body">

            <div class="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input asp-for="FilterExpensiveContracts" asp-items="Html.GetEnumSelectList<HR.Interface.Enums.ContractType>()" />
                                <label asp-for="FilterExpensiveContracts"></label>
                                <span asp-validation-for="FilterExpensiveContracts" class="text-danger" />
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input asp-for="FilterExperiencedProgrammers" asp-items="Html.GetEnumSelectList<HR.Interface.Enums.ContractType>()" />
                                <label asp-for="FilterExperiencedProgrammers"></label>
                                <span asp-validation-for="FilterExperiencedProgrammers" class="text-danger" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Filter" class="btn btn-warning" />
            <a asp-action="Filter" class="btn btn-danger">Clear filter</a>
        </div>
    </div>

    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Contracts.Single().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contracts.Single().ContractType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contracts.Single().Experience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contracts.Single().Salary)
                </th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <div class="form-group">
                        <label asp-for="FilterName" class="control-label small"></label>
                        <div>
                            <input asp-for="FilterName" class="form-control input-sm" />
                            <span asp-validation-for="FilterName" class="text-danger small"></span>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label asp-for="FilterContractType" class="control-label small"></label>
                        <div>
                            <select asp-for="FilterContractType" asp-items="Html.GetEnumSelectList<HR.Interface.Enums.ContractType>()" class="form-control input-sm" onchange="$('#filter-form').submit();">
                                <option value="">All</option>
                            </select>
                            <span asp-validation-for="FilterContractType" class="text-danger small" />
                        </div>
                    </div>
                </th>
                <th>
                    <div class="form-group row filter-double">
                        <div class="col-sm-6">
                            <label asp-for="FilterExperienceMin" class="control-label small"></label>
                            <input asp-for="FilterExperienceMin" class="form-control input-sm" />
                            <span asp-validation-for="FilterExperienceMin" class="text-danger small"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="FilterExperienceMax" class="control-label small"></label>
                            <input asp-for="FilterExperienceMax" class="form-control input-sm" />
                            <span asp-validation-for="FilterExperienceMax" class="text-danger small"></span>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="form-group row filter-double">
                        <div class="col-sm-6">
                            <label asp-for="FilterSalaryMin" class="control-label small"></label>
                            <input asp-for="FilterSalaryMin" class="form-control input-sm" />
                            <span asp-validation-for="FilterSalaryMin" class="text-danger small"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="FilterSalaryMax" class="control-label small"></label>
                            <input asp-for="FilterSalaryMax" class="form-control input-sm" />
                            <span asp-validation-for="FilterSalaryMax" class="text-danger small"></span>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Filter" class="btn btn-warning" />
                            <a asp-action="Filter" class="btn btn-danger">Clear filter</a>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Contracts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Experience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <nav>
                        <input type="hidden" asp-for="Page" />
                        <ul class="pagination">
                            @if (Model.Page > 1)
                            {
                                <li>
                                    <a href="#" onclick="return PaginationHelper.GoToPage(this, @(Model.Page - 1));" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                var active = "";
                                @if (i == Model.Page)
                                {
                                    active = "active";
                                }
                                <li class="@active"><a href="#" onclick="return PaginationHelper.GoToPage(this, @i);">@i</a></li>
                            }
                            @if (Model.Page < Model.PageCount)
                            {
                                <li>
                                    <a href="#" onclick="return PaginationHelper.GoToPage(this, @(Model.Page + 1));" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
