﻿<div class="alert alert-success" role="alert">
    Salary is calculated by following formula:<br>

    <h3>
        <span class="label label-success label-lg">Minimal Salary</span>
        + <span class="label label-success label-lg">Experience * FactorA</span>
        + <span class="label label-success label-lg">Minimal Salary * FactorB</span>
    </h3>
    <br/>
    Where <b>factor A</b> and <b>Factor B</b> are <a asp-action="Index", asp-controller="Factors">configurable</a> values for every job.
</div>